<h1>Nuova quote per la recensione <%= @review.full_title %></h1>

<%= error_messages_for 'quote' %>

<%= form_tag({:action=>'create', :id => @review.id}, :multipart => true) %>
	<%= render(:partial => "quote", :object => @quote) %>
</form>

<%= link_to 'Back', :action => 'list', :id => @review.id %>