<h1>Modifica corpo</h1>
<%= error_messages_for 'blog_entry' %>
<% form_tag :action => 'update_body', :id => @blog_entry do %>
	<p>
		<label for="blog_entry_body">Corpo della entry (*)</label>
		<br/>
		<%= text_area 'blog_entry', 'body', :size => '60x30'  %>
	</p>
	<%= submit_tag "Salva modifiche" %>
<% end %>
<p><%= link_to("back", :action => 'back') %></p>