<div id="external_links">
<h3>External links</h3>
<p>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" />
</a>
<br />
<a href="http://del.icio.us/post?title=figura4 reviews;url=http://figura4.com" title="Aggiungi questo sito ai tuoi link del.icio.us"><img src="/images/delicious.png" alt="Add to del.icio.us" /></a>
<br />
<a href="msnim:chat?contact=figura4.it@hotmail.it"><img src="/images/msn.gif" alt="contattami su msn" title="contattami su msn" /></a>
<br />
<a href="http://validator.w3.org/check?uri=referer">
<img src="http://www.w3.org/Icons/valid-xhtml10-blue" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
</a>
</p>
</div>
