Commento postato sul sito figura4.com

<%=h @message[:nickname] %> (<%=h @message[:email] %>) ha postato un commento alla recensione <%=h @message[:review_title] %>

<%= @message[:subject] %>

<%=h @message[:body] %>