<h1>Nuova quote per il nodo '<%= @node.page_title %>'</h1>
<%= error_messages_for 'quote' %>
<%= form_tag({:action=>'create', :id => @node.id}, :multipart => true) %>
	<%= render(:partial => "quote", :object => @quote) %>
</form>
<p><%= link_to("back", :action => 'back') %></p>