<label for="author">Autore</label><br/>
<%= text_field("comment", "author", :size => "50") %><br />
<label for="homepage">Homepage</label><br/>
<%= text_field("comment", "homepage", :size => "50") %><br />
<label for="email">E-mail</label><br/>
<%= text_field("comment", "email", :size => "50") %><br />
<label for="body">Messaggio</label><br/>
<%= text_area("comment", "body", :size => "40x10") %><br/>
