<label for="original_text">Testo originale</label><br/>
<%= text_area("quote", "original_text", :size => "40x10") %><br/>
<label for="italian_text">Testo italiano</label><br/>
<%= text_area("quote", "italian_text", :size => "40x10") %><br/>
<label for="quote_source">Fonte</label><br/>
<%= text_field("quote", "source", :size => "50") %><br />
<label for="quote_author">Autore</label><br/>
<%= text_field("quote", "author", :size => "50") %><br />
<%= check_box("quote", "random") %> <label for="quote_random">Includi nelle random quotes</label><br/><br />
<%= submit_tag "Salva" %>