<h1>Modifica quote - <%= @quote.review.full_original_title %></h1>
<%= error_messages_for 'quote' %>
<%= form_tag({:action => 'update_quote', :id => @quote}, :multipart => true) %>
	<%= render(:partial => 'quote', :object => @quote) %>
</form>
<%= link_to 'Back', :action => 'list_quotes', :id => @quote.review.id %>