<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<% if @review.nil? and @page.nil? %>
<meta name="description" content="Recensioni di libri, serie tv, film e fumetti di genere fantascientifico e fantasy." />
<meta name="keywords" content="Recensioni, fantascienza, fantasy, libri, romanzi, serie tv, film" />
<% else %>
<% if @page.nil? %>
<meta name="description" content="<%= @review.meta_description %>" />
<meta name="keywords" content="<%= @review.meta_keywords %>" />
<% else %>
<meta name="description" content="<%= @page.meta_description %>" />
<meta name="keywords" content="<%= @page.meta_keywords %>" />
<% end %>
<% end %>
<meta name="author" content="codice e contenuti by www.figura4.com" />
<%= stylesheet_link_tag "review", :media => "all" %>
<% if @page_title.nil? or @page_title.blank? %>
	<% title_to_display = "Figura4's reviews" %>
<% else %>
	<% title_to_display = @page_title.to_s + " - F4 reviews"  %>
<% end %>
<title><%= title_to_display %></title>
<%= auto_discovery_link_tag(:rss, {:controller => 'rss', :action => 'feed'}) %>
<link rel="shortcut icon" href="http://figura4.com/favicon.ico" />
</head>
<body>

<div id="left_container">
<img id="logo" alt="bookworm" src="/images/bookworm.jpg" />
<div id="left_text">
<%= render(:partial=>"review/search_box") %>
<%= render(:partial=>"review/recent_comments") %>
<%= render(:partial=>"review/credits") %>
<%= render(:partial=>"review/external_links") %>
</div>
</div>

<div id="right_container_outer">
<div id="random_quote"><%= render(:partial=>"review/random_quote") %></div>
<div class="navbar" id="nav"> 
<ul>
<li <%= "id='current'" if @page_name=="home" %> ><%= link_to "home", {:controller => 'review', :action => 'index'} %></li>
<li <%= "id='current'" if @page_name=="sitemap" %> ><%= link_to "recensioni", {:controller => 'review', :action => 'sitemap'} %></li>
<li <%= "id='current'" if @page_name=="pages" %> ><%= link_to "approfondimenti", {:controller => 'page', :action => 'index'} %></li>
<li <%= "id='current'" if @page_name=="links" %> ><%= link_to "links", {:controller => 'review', :action => 'links'} %></li>
<li <%= "id='current'" if @page_name=="about me" %> ><%= link_to "about me", {:controller => 'review', :action => 'about_me'} %></li>
<li <%= "id='current'" if @page_name=="contacts" %> ><%= link_to "contatti", {:controller => 'review', :action => 'contacts'} %></li>
</ul>
</div>
<div id="navbar_fade"></div>
<div id="right_container_inner" class="clearfix">

<%= @content_for_layout %>

</div>
<div id="footer">Questo sito non ha scopo di lucro. <br />Ogni immagine, logo o citazione &egrave; da considerarsi &#169; dei legittimi proprietari.</div>
</div>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-419680-1";
urchinTracker();
</script>

</body>
</html>
