<p>
	<label>Nome del sito (*)</label>
	<br/>
	<%= text_field("link", "page_title", :size => "30") %>
</p>
<p>
	<label>URL (*)</label>
	<br/>
	<%= text_field("link", "url", :size => "30") %>
</p>
<p>
	<label>Descrizione</label>
	<br/>
	<%= text_area("link", "description", :size => "60x10") %>
</p>