<h1>Modifica link</h1>
<%= error_messages_for 'link' %>
<%= form_tag({:action => 'update', :id => @link}, :multipart => true) %>
	<%= render(:partial => 'link', :object => @link) %>
	<%= submit_tag 'Salva' %>
</form>
<p><%= link_to("back", :action => 'back') %></p>