<p>
	<label for="author">Autore (*)</label>
	<br/>
	<%= text_field("comment", "author", :size => "60") %>
</p>
<p>
	<label for="external_link_url">Homepage</label>
	<br/>
	<%= text_field("external_link", "link_url", :size => "60") %>
</p>
<p>
	<label for="email">E-mail</label>
	<br/>
	<%= text_field("comment", "email", :size => "60") %>
</p>
<p>
	<label for="body">Messaggio (*)</label>
	<br/>
	<%= text_area("comment", "body", :size => "60x10") %>
</p>
