<h1>Nuovo commento per la recensione <%= @review.full_title %></h1>

<%= error_messages_for 'comment' %>

<%= form_tag({:action=>'create', :id => @review.id}, :multipart => true) %>
	<%= render(:partial => "comment", :object => @comment) %>
	<%= submit_tag 'Salva' %>
</form>

<%= link_to 'Back', :action => 'list', :id => @review.id %>