<div id="credits">
	<h3>Credits</h3>
	<p>
		<img src="/images/rails.png" alt="Ruby on Rails" />
		Il codice e i contenuti di questo sito sono stati interamente realizzati da <%= link_to("figura4", {:controller => 'review', :action => 'about_me'}) %>.
		<br />
		Gli strumenti utilizzati: il framework Ruby on Rails, il database MySql e tanta passione per la lettura ed il cinema.
	</p>
</div>