<h1>Nuova recensione - passo 3</h1>
<%= error_messages_for 'review' %>
<% form_tag :action=>'update_review', :id => @review do %>
	<p>
		<label for="review_review">La trama in breve</label>
		<br/>
		<%= text_area 'review', 'review', :size => '60x50'  %>
	</p>
	<%= submit_tag 'Fine' %>
<% end %>