<h1>Nuovo autore</h1>

<%= error_messages_for 'author' %>

<%= form_tag({:action=>'create'}, :multipart => true)%>
	<%= render(:partial => "author", :object => @author) %>
	<%= submit_tag 'Salva' %>
</form>

<p>
	<%= link_to 'Back', :action => 'list' %>
</p>